body {
	background: #2e2e2e;
	color: #2e2e2e;
	font-family: 'Lato', sans-serif;
}

img {
	width: 100%;
	margin: 20px 0 0 0;
	padding: 0;
	border-radius: 20px 0 20px 0;
}

h1 {
	font-family: 'Lato', sans-serif;
	background: rgb(214, 146, 77);
	width: 405px;
	padding: 10px 0;
	border-radius: 0 20px 0 20px;
	text-align: center;
	margin: 20px 0 0 0;
}

.text_box1 {
	margin: 20px 0 0 0;
	background: rgb(78, 144, 207);
	padding: 10px 20px;
	border-radius: 0 20px 0 20px;
	height: 385px;
}

.text_box2 {
	height: 214px;
	margin: 20px 0 0 0;
	background: rgb(193, 82, 97);
	padding: 20px;
	border-radius: 20px 0 20px 0;
}

.link_box {
	height: 210px;
	margin: 20px 0 0 0;
	background: rgb(154, 175, 105);
	border-radius: 0 20px 0 20px;
	padding: 20px;
}

.link_box > h2 {
	position: relative;
	top: -15px;
	background: #2e2e2e;
	width: 385px;
	padding: 5px 0 5px 10px;
	color: lightgrey;
}

li > a {
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

li > a:visited {
	color: black;
}

li > a:hover {
	background: #2e2e2e;
	color: rgb(154, 175, 105);
}

ul {
	list-style: none;
	margin: 0;
}

li {
	margin: 10px 0 10px 0;
}